<div class="jumbotron">
	<h1>欢迎来到Microblog</h1>
	<p>Microblog 是一个基于Node.js 的微博系统。</p>
	<p> 
	   <%if(!user){
	       %>
	       	<a class="btn btn-lg btn-primary" href="/login">登录</a>
			<a class="btn btn-lg btn-default" href="/reg">立即注册</a>
	       <%
	   }else{
	   		%>
                
                <form  class="form-signin" action="/post" method="post">
					<input type="text" class="form-control" id="post" name="post">
					<button type="submit" class="btn btn-lg btn-primary btn-block">发表</button>
			</form>
	   		<%
	   } %>
	   
</div>


<div class="row">
	<% include posts %>
</div>