<form  class="form-signin" action="/post" method="post">
		<input type="text" class="form-control" id="post" name="post">
		<button type="submit" class="btn btn-lg btn-primary btn-block">发表</button>
</form>